.navbar {
    position: absolute;
    width: 100%;
    height: 3.125rem;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #0065FF 0%, #1B68DE 100%);
    border-radius: 0 0 1.25rem 1.25rem;
}

.menu {
    position: absolute;
    z-index: 1;
    transition: 0.3s;
    overflow:hidden;
    width: 4.688rem;
    height: 95%;
    left: 1.25rem;
    top: 2.5%;
    background: #FFFFFF;
    border-radius: 0.625rem;
    box-shadow: 0.188rem 0.25rem 0.563rem rgba(0, 0, 0, 0.05);
}

.menu:hover{
    width: 13.125rem;
    overflow:visible;
}

.menu > ul {
	margin-top: 1.25rem;
	padding-left: 1.35rem !important;
}

.menu li {
	position:relative;
	display:block;
	width: 4.688rem;
}

.menu li>a {
	position:relative;
	display:table;
	border-collapse:collapse;
	border-spacing:0;
	color:#999;
	font-size: 0.875rem;
	text-decoration:none;
}

.nav-text {
	position:relative;
	display:table-cell;
	vertical-align:middle;
	opacity: 0;
	transition: 0.2s;
	padding-left: 1rem;
}

.menu:hover .nav-text {
	opacity: 1;
}

.menu>ul.logout {
	position:absolute;
	left:0;
	bottom:0;
}
