<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<div class="card br-full-15px">
		<div class="card-header br-top-15px text-white">
			<div class="row">
				<div class="col-sm-9 font-size-18px" style="font-weight: 600;">
					Divisões
				</div>
				<div class="col-sm-3 font-size-12px text-center">

					<a href="javascript: abrirModal('modalDivisao');">
						<div class="btn-pill-white" style="font-weight: 600;">Novo</div>
					</a>

				</div>
			</div>
		</div>
		<div class="card-body"
			style="padding-left: 0; padding-right: 0; padding-top: 0.313rem; padding-bottom: 0.938rem;">
			<table id="divisoesTable" class="display" style="width:100%">
				<thead style="background-color: #F3F3F3; color: #0065FF">
					<tr>
						<th style="padding-left: 0.625rem">Sexo</th>
						<th>Sigla</th>
					</tr>
				</thead>
				<tbody>
				<tr th:each="listDivisao : ${listDivisao}">
					<td style="padding-left: 0.625rem" th:text="${listDivisao.sgSexoDivisao}" th:onclick="|consultarItemCadastro('modalSerie', '@{/cadastro/consultar/divisao}/${listDivisao.cdDivisao}')|"> sgSexoDivisao </td>
					<td class="blue" th:text="${listDivisao.sgDivisao}"> sgDivisao </td>
				</tr>
				</tbody>

			</table>
		</div>
	</div>


	<!-- Modal -->
	<form id="tabDivisaoObj" th:object="${tabDivisaoObj}" th:action="@{/cadastro/gravar/divisao}" th:method="POST">
	<div class="modal fade" id="modalDivisao" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">

				<div class="modal-body">
					<div class="row">
						<div class="col-sm-11 font-size-18px blue" style="font-weight: 600;">
							Cadastro de Divisões
						</div>
						<div class="col-sm-1">
						 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
					</div>

					<div class="row">
					
					<input type="hidden" name="cdDivisao"></input> <!-- Hidden ID -->
					
						<div class="col-sm-6" id="divsgSexoDivisao">
							<div class="form-group">
								<label for="sgSexoDivisao">Sexo</label>
								<select class="form-select" id="sgSexoDivisao" name="sgSexoDivisao" th:field="*{sgSexoDivisao}">
									<option value="">Selecione o Sexo</option>
									<option value="FEMININO">Feminino</option>
									<option value="MASCULINO">Masculino</option>
								</select>
							</div>
						</div>




						<div class="col-sm-6" id="divsgDivisao">
							<div class="form-group">
								<label for="sgDivisao">Sigla</label>
								<input type="text" class="form-control" id="sgDivisao" name="sgDivisao" th:field="*{sgDivisao}" />
							</div>
						</div>
					</div>

				</div>


				<div class="modal-footer">
					<div class="col-sm-12 text-center">
						<a href="javascript: gravarModalCadastro('modalDivisao', 'tabDivisaoObj', '/cadastro/gravar/divisao', 'divisao')"><span class="btn btn-primary col-sm-6" style="border-radius:10px">Gravar</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	</form>

	<script th:inline="javascript">
		/*<![CDATA[*/

		$(document).ready(function () {
			$('#divisoesTable').DataTable(
					{
						"searching": false,
						"lengthChange": false,
						"ordering": false,
						"bInfo": false,
						"pageLength": 3
					}
			);

			var modal = /*[[${abrirModal}]]*/null;
			if(modal != null) {
				abrirModal(modal);
			}
		});

		/*]]>*/
	</script>

</html>