<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<div class="card br-full-15px">
		<div class="card-header br-top-15px text-white">
			<div class="row">
				<div class="col-sm-9 font-size-18px" style="font-weight: 600;">
					Exercícios
				</div>
				<div class="col-sm-3 font-size-12px text-center">
					<a href="javascript: abrirModal('modalExercicio');">
						<div class="btn-pill-white" style="font-weight: 600;">Novo</div>
					</a>
				</div>
			</div>
		</div>
		<div class="card-body"
			style="padding-left: 0; padding-right: 0; padding-top: 0.313rem; padding-bottom: 0.938rem;">
			<table id="exercicioTable" class="display" style="width:100%">
				<thead style="background-color: #F3F3F3; color: #0065FF">
					<tr>
						<th style="padding-left: 0.625rem">Nome do Exercício</th>
						<th>Descrição</th>
						<th>Grupo Muscular</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="listExercicio : ${listExercicio}">
						<td style="padding-left: 0.625rem" th:text="${listExercicio.txNomeExercicio}" th:onclick="|consultarItemCadastro('modalExercicio', '@{/cadastro/nivelTreino/consultar}/${listExercicio.cdExercicio}')|"> txNivelTreino </td>
						<td class="blue" th:text="${listExercicio.dsExercicio}"> dsNivelTreino </td>
						<td class="blue" th:text="${listExercicio.tabGrupoMuscularObj.txGrupoMuscular}"> dsNivelTreino </td>
					</tr>
				</tbody>

			</table>
		</div>
	</div>

	<!-- Modal -->
	<form id="tabExercicioObj" th:object="${tabExercicioObj}" th:action="@{/cadastro/exercicio/gravar}" th:method="POST">
		<div class="modal fade" id="modalExercicio" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-xl">
				<div class="modal-content">

					<div class="modal-body">
						<div class="row">
							<div class="col-sm-11 font-size-18px blue" style="font-weight: 600;">
								Cadastro de Exercício
							</div>
							<div class="col-sm-1">
								<button type="button" class="btn-close float-lg-end" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
						</div>
						
						<div class="row" style="margin-top: 0.313rem">

							<input type="hidden" id="cdExercicio" th:value="*{cdExercicio}"></input> <!-- Hidden ID -->

							<div class="col-sm-4" id="divtxNomeExercicio">
								<div class="form-group">
									<label for="txNomeExercicio">Nome do Exercício</label>
									<input type="text" class="form-control" id="txNomeExercicio"
										   name="txNomeExercicio" th:field="*{txNomeExercicio}"/>
								</div>
							</div>

							<div class="col-sm-4" id="divdsExercicio">
								<div class="form-group">
									<label for="dsExercicio">Descrição do Exercício</label>
									<input type="text" class="form-control" id="dsExercicio"
										   name="dsExercicio" th:field="*{dsExercicio}"/>
								</div>
							</div>

							<div class="col-sm-4" id="divtabGrupoMuscularObj">
								<div class="form-group">
									<label for="tabGrupoMuscularObj">Grupo Muscular</label>

									<select class="form-select" id="tabGrupoMuscularObj"
											th:field="*{tabGrupoMuscularObj}">
										<option th:each="selectGrupoMuscular : ${selectGrupoMuscular}"
												th:value="${selectGrupoMuscular.cdGrupoMuscular}"
												th:text="${selectGrupoMuscular.txGrupoMuscular}">
										</option>
									</select>
								</div>
							</div>

							<div class="col-sm-4" id="divtxCaminhoBanner">
								<div class="form-group">
									<label for="txCaminhoBanner">Banner do Exercício</label>
									<input class="form-control" type="file" id="txCaminhoBanner"
										   name="txCaminhoBanner" />
								</div>
							</div>

							<div class="col-sm-4" id="divtxImgDemonstrativaExercicio">
								<div class="form-group">
									<label for="txImgDemonstrativaExercicio">Banner do Vídeo</label>
									<input class="form-control" type="file" id="txImgDemonstrativaExercicio"
										   name="txImgDemonstrativaExercicio" />
								</div>
							</div>

							<div class="col-sm-4" id="divtxCaminhoVideo">
								<div class="form-group">
									<label for="txCaminhoVideo">Vídeo</label>
									<input class="form-control" type="file" id="txCaminhoVideo"
										   name="txCaminhoVideo" />
								</div>
							</div>
						</div>

						<br />
						<div class="row">
							<div class="col-sm-12 font-size-15px blue" style="font-weight: 600;">
								Níveis Pertencentes
							</div>

							<div class="col-sm-12">
							<div class="form-check" th:each="selectNiveisTreino : ${selectNiveisTreino}">
								<input class="form-check-input" type="checkbox" th:value="${selectNiveisTreino.cdNivelTreino}" th:id="${selectNiveisTreino.cdNivelTreino}" />
								<label class="form-check-label" for="flexCheckChecked" th:text="${selectNiveisTreino.txNivelTreino}"></label>
							</div>
							</div>

						</div>

					</div>


					<div class="modal-footer">
						<div class="col-sm-12 text-center">
							<a href="javascript: gravarModalCadastro('modalExercicio', 'tabExercicioObj', '/cadastro/nivelTreino/gravar', 'niveisTreino')"><span class="btn btn-primary col-sm-6" style="border-radius:10px">Gravar</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<script th:inline="javascript">
		/*<![CDATA[*/

		$(document).ready(function () {
			$('#exercicioTable').DataTable(
					{
						"searching": false,
						"lengthChange": false,
						"ordering": false,
						"bInfo": false,
						"pageLength": 3
					}
			);
		});

		/*]]>*/
</script>
</html>