<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<div class="card br-full-15px">
		<div class="card-header br-top-15px text-white">
			<div class="row">
				<div class="col-sm-9 font-size-18px" style="font-weight: 600;">
					Grupos Musculares
				</div>
				<div class="col-sm-3 font-size-12px text-center">
					<a href="javascript: abrirModal('modalGrupoMuscular');">
						<div class="btn-pill-white" style="font-weight: 600;">Novo</div>
					</a>
				</div>
			</div>
		</div>
		<div class="card-body"
			style="padding-left: 0; padding-right: 0; padding-top: 0.313rem; padding-bottom: 0.938rem;">
			<table id="gruposMuscularesTable" class="display" style="width:100%">
				<thead style="background-color: #F3F3F3; color: #0065FF">
					<tr>
						<th style="padding-left: 0.625rem">Nome do Grupo</th>
						<th>Descrição</th>
					</tr>
				</thead>
				<tbody>
				<tr th:each="listGrupoMuscular : ${listGrupoMuscular}">
					<td style="padding-left: 0.625rem" th:text="${listGrupoMuscular.txGrupoMuscular}" th:onclick="|consultarItemCadastro('modalNivelTreino', '@{/cadastro/nivelTreino/consultar}/${listGrupoMuscular.cdGrupoMuscular}')|"> txGrupoMuscular </td>
					<td class="blue" th:text="${listGrupoMuscular.dsGrupoMuscular}"> dsGrupoMuscular </td>
				</tr>
				</tbody>

			</table>
		</div>
	</div>

	<!-- Modal -->
	<form id="tabGrupoMusucularObj" th:object="${tabGrupoMuscularObj}" th:action="@{/cadastro/gravar/grupomuscular}" th:method="POST">
		<div class="modal fade" id="modalGrupoMuscular" tabindex="-1" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg">
				<div class="modal-content">

					<div class="modal-body">
						<div class="row">
							<div class="col-sm-11 font-size-18px blue" style="font-weight: 600;">
								Cadastro de Grupo Muscular
							</div>
							<div class="col-sm-1">
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
						</div>
						<div class="row">

							<input type="hidden"></input> <!-- Hidden ID -->

							<div class="col-sm-4" id="divtxGrupoMuscular">
								<div class="form-group">
									<label for="txGrupoMuscular">Nome do Grupo</label>
									<input type="text" class="form-control" id="txGrupoMuscular" name="txGrupoMuscular" th:field="*{txGrupoMuscular}" />
								</div>
							</div>

							<div class="col-sm-4" id="divdsGrupoMuscular">
								<div class="form-group">
									<label for="dsGrupoMuscular">Descrição do Grupo</label>
									<input type="text" class="form-control" id="dsGrupoMuscular"
										name="dsGrupoMuscular" th:field="*{dsGrupoMuscular}" />
								</div>
							</div>

							<div class="col-sm-4" id="divtxCaminhoImagemDemonstrativo">
								<div class="form-group">
									<label for="txCaminhoImagemDemonstrativo">Imagem Demonstrativa</label>
									<input class="form-control" type="file" id="txCaminhoImagemDemonstrativo"
										/>
								</div>
							</div>

						</div>
						<br />
						<div class="row">
							<div class="col-sm-11 font-size-15px blue" style="font-weight: 600;">
								Divisões Pertencentes
							</div>


						</div>
						<br />
						<div class="row">
							<div class="col-sm-11 font-size-15px blue" style="font-weight: 600;">
								Conjuntos Pertencentes
							</div>


						</div>

					</div>


					<div class="modal-footer">
						<div class="col-sm-12 text-center">
							<a href="javascript: gravarModalCadastro('modalGrupoMuscular', 'tabGrupoMusucularObj', '/cadastro/gravar/grupomuscular', 'gruposMusculares')">
								<span class="btn btn-primary col-sm-6" style="border-radius:10px">Gravar</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>

	<script th:inline="javascript">
		/*<![CDATA[*/

		$(document).ready(function () {
			$('#gruposMuscularesTable').DataTable(
					{
						"searching": false,
						"lengthChange": false,
						"ordering": false,
						"bInfo": false,
						"pageLength": 3
					}
			);

			var modal = /*[[${abrirModal}]]*/null;
			if(modal != null) {
				abrirModal(modal);
			}
		});

		/*]]>*/
	</script>

</html>