<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:fragment="niveistreino">
	<div class="card br-full-15px">
		<div class="card-header br-top-15px text-white">
			<div class="row">
				<div class="col-sm-9 font-size-18px" style="font-weight: 600;">
					Níveis de Treino
				</div>
				<div class="col-sm-3 font-size-12px text-center">
					<div class="btn-pill-white" style="font-weight: 600;" data-bs-toggle="modal"
						data-bs-target="#modalNivelTreino">Novo</div>
				</div>
			</div>
		</div>
		<div class="card-body"
			style="padding-left: 0; padding-right: 0; padding-top: 0.313rem; padding-bottom: 0.938rem;">
			<table id="niveistreinoTable" class="display" style="width:100%">
				<thead style="background-color: #F3F3F3; color: #0065FF">
					<tr>
						<th style="padding-left: 0.625rem">Nome do Grupo</th>
						<th>Descrição</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style="padding-left: 0.625rem">Iniciante</td>
						<td>Nível de iniciantes</td>
					</tr>
					<tr>
						<td style="padding-left: 0.625rem">Intermediário</td>
						<td>Nível de intermediários</td>
					</tr>
					<tr>
						<td style="padding-left: 0.625rem">Avançado</td>
						<td>Nível de avançados</td>
					</tr>
				</tbody>

			</table>
		</div>
	</div>

	<!-- Modal -->
	<form id="tabNivelTreinoObj" th:object="${tabNivelTreinoObj}" th:action="@{/cadastro/gravar/nivelTreino}" th:method="POST"   >
		<div class="modal fade" id="modalNivelTreino" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg">
				<div class="modal-content">

					<div class="modal-body">
						<div class="row">
							<div class="col-sm-11 font-size-18px blue" style="font-weight: 600;">
								Cadastro de Nível de Treino
							</div>
							<div class="col-sm-1">
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
						</div>
						
						<div class="row" style="margin-top: 0.313rem">

							<input type="hidden" id="cdNivelTreino" th:value="*{cdNivelTreino}"></input> <!-- Hidden ID -->

							<div class="col-sm-4" id="divtxNomeNivelTreino">
								<div class="form-group">
									<label for="txNivelTreino" class="font-size-16px font-semibold">Nome do Nível de Treino</label>
									<input type="text" class="form-control" id="txNivelTreino" name="txNivelTreino" th:field="*{txNivelTreino}" />
								</div>
							</div>
							
							<div class="col-sm-5" id="divtxDescricaoNivelTreino">
								<div class="form-group">
									<label for="dsNivelTreino" class="font-size-16px font-semibold">Descrição do Nível de Treino</label>
									<input type="text" class="form-control" id="dsNivelTreino" name="dsNivelTreino"  th:field="*{dsNivelTreino}"/>
								</div>
							</div>
							
						</div>

					</div>


					<div class="modal-footer">
						<div class="col-sm-12 text-center">
							<button type="submit" class="btn btn-primary col-sm-6" style="border-radius:10px">Gravar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>

</div>

</html>