<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<div class="card br-full-15px">
		<div class="card-header br-top-15px text-white">
			<div class="row">
				<div class="col-sm-9 font-size-18px" style="font-weight: 600;">
					Séries
				</div>
				<div class="col-sm-3 font-size-12px text-center">
					<a href="javascript: abrirModal('modalSerie');">
						<div class="btn-pill-white" style="font-weight: 600;">Novo</div>
					</a>
				</div>
			</div>
		</div>
		<div class="card-body"
			style="padding-left: 0; padding-right: 0; padding-top: 0.313rem; padding-bottom: 0.938rem;">
			<table id="serieTable" class="display" style="width:100%">
				<thead style="background-color: #F3F3F3; color: #0065FF">
					<tr>
						<th style="padding-left: 0.625rem">Nível de Treino</th>
						<th>Qtd. Exercício/Dia</th>
						<th>Qtd. Máx. Séries</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="listExercicio : ${listExercicio}">
						<td style="padding-left: 0.625rem" th:text="${listExercicio.txNomeExercicio}" th:onclick="|consultarItemCadastro('modalSerie', '@{/cadastro/nivelTreino/consultar}/${listExercicio.cdExercicio}')|"> txNivelTreino </td>
						<td class="blue" th:text="${listExercicio.dsExercicio}"> dsNivelTreino </td>
						<td class="blue" th:text="${listExercicio.tabGrupoMuscularObj.txGrupoMuscular}"> dsNivelTreino </td>
					</tr>
				</tbody>

			</table>
		</div>
	</div>

	<!-- Modal -->
	<form id="tabSerieObj" th:object="${tabSerieObj}" th:action="@{/cadastro/serie/gravar}" th:method="POST">
		<div class="modal fade" id="modalSerie" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-xl">
				<div class="modal-content">

					<div class="modal-body">
						<div class="row">
							<div class="col-sm-11 font-size-18px blue" style="font-weight: 600;">
								Cadastro de Exercício
							</div>
							<div class="col-sm-1">
								<button type="button" class="btn-close float-lg-end" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
						</div>
						
						<div class="row" style="margin-top: 0.313rem">

							<input type="hidden" id="cdSerie" th:value="*{cdSerie}"></input> <!-- Hidden ID -->

							<div class="col-sm-4" id="divtabGrupoMuscularObj">
								<div class="form-group">
									<label class="font-medium font-size-16px" for="tabNivelTreinoObj">Nível de Treino</label>

									<select class="form-select" id="tabNivelTreinoObj"
											th:field="*{tabNivelTreinoObj}">
										<option th:each="selectNiveisTreino : ${selectNiveisTreino}"
												th:value="${selectNiveisTreino.cdNivelTreino}"
												th:text="${selectNiveisTreino.txNivelTreino}">
										</option>
									</select>
								</div>
							</div>

							<div class="col-sm-4" id="divqtExerciciosDiaSerie">
								<div class="form-group">
									<label class="font-medium font-size-16px" for="qtExerciciosDiaSerie">Quantidade de Exercícios/Dia</label>
									<input type="text" class="form-control" id="qtExerciciosDiaSerie"
										   name="qtExerciciosDiaSerie" th:field="*{qtExerciciosDiaSerie}"/>
								</div>
							</div>

							<div class="col-sm-4" id="divqtMinSeriesSemana">
								<div class="form-group">
									<label class="font-medium font-size-16px" for="qtMinSeriesSemana">Quantidade Mínima Séries/Semana</label>
									<input type="text" class="form-control" id="qtMinSeriesSemana"
										   name="qtMinSeriesSemana" th:field="*{qtMinSeriesSemana}"/>
								</div>
							</div>

							<div class="col-sm-4" id="divqtMaxSeriesSemana">
								<div class="form-group">
									<label class="font-medium font-size-16px" for="qtMaxSeriesSemana">Quantidade Máxima Séries/Semana</label>
									<input type="text" class="form-control" id="qtMaxSeriesSemana"
										   name="qtMaxSeriesSemana" th:field="*{qtMaxSeriesSemana}"/>
								</div>
							</div>

							<div class="col-sm-4" id="divqtMinRepeticao">
								<div class="form-group">
									<label class="font-medium font-size-16px" for="qtMinRepeticao">Quantidade Mínima Repetições</label>
									<input type="text" class="form-control" id="qtMinRepeticao"
										   name="qtMinRepeticao" th:field="*{qtMinRepeticao}"/>
								</div>
							</div>

							<div class="col-sm-4" id="divqtMaxRepeticao">
								<div class="form-group">
									<label class="font-medium font-size-16px" for="qtMaxRepeticao">Quantidade Máxima Repetições</label>
									<input type="text" class="form-control" id="qtMaxRepeticao"
										   name="qtMaxRepeticao" th:field="*{qtMaxRepeticao}"/>
								</div>
							</div>

							<div class="col-sm-4" id="divqtMinTempoDescanso">
								<div class="form-group">
									<label class="font-medium font-size-16px" for="qtMinTempoDescanso">Tempo Mínimo Descanso</label>
									<input type="text" class="form-control" id="qtMinTempoDescanso"
										   name="qtMinTempoDescanso" th:field="*{qtMinTempoDescanso}"/>
								</div>
							</div>

							<div class="col-sm-4" id="divqtMaxTempoDescanso">
								<div class="form-group">
									<label class="font-medium font-size-16px" for="qtMaxTempoDescanso">Tempo Máximo Descanso</label>
									<input type="text" class="form-control" id="qtMaxTempoDescanso"
										   name="qtMaxTempoDescanso" th:field="*{qtMaxTempoDescanso}"/>
								</div>
							</div>

						</div>

						<br />
						<div class="row">
							<div class="col-sm-12 font-size-15px blue" style="font-weight: 600;">
								Grupos Musculares
							</div>

							<div class="col-sm-12">
							<div class="form-check" th:each="selectGrupoMuscular : ${selectGrupoMuscular}">
								<input class="form-check-input" type="checkbox" th:value="${selectGrupoMuscular.cdGrupoMuscular}" th:id="${selectGrupoMuscular.cdGrupoMuscular}" />
								<label class="form-check-label font-size-16px font-medium" th:text="${selectGrupoMuscular.txGrupoMuscular}"></label>
							</div>
							</div>

						</div>

					</div>


					<div class="modal-footer">
						<div class="col-sm-12 text-center">
							<a href="javascript: gravarModalCadastro('modalSerie', 'tabSerieObj', '/cadastro/serie/gravar', 'seriesTreino')"><span class="btn btn-primary col-sm-6" style="border-radius:10px">Gravar</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<script th:inline="javascript">
		/*<![CDATA[*/

		$(document).ready(function () {
			$('#serieTable').DataTable(
					{
						"searching": false,
						"lengthChange": false,
						"ordering": false,
						"bInfo": false,
						"pageLength": 3
					}
			);
		});

		/*]]>*/
</script>
</html>